<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>Sausages</servlet-name>
  <servlet-class>com.keithmarsh.SausageServlet</servlet-class>
  <init-param>
   <param-name>testParam</param-name>
   <param-value>Hi there</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>Sausages</servlet-name>
  <url-pattern>/*</url-pattern>
 </servlet-mapping>
</web-app>
